#Data Cleaning of a Dataset

This notebook puts into practice the cleaning of data from a Kaggle dataset.

**Objectives:**

*   Replace null values
* Analyze for duplicate rows
* Transform elements
* Transform data types
* Create columns
* Delete columns
* Results
* Author

libraries used

In [332]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

CSV reading

In [333]:
df = pd.read_csv('my_file (1).csv')
df.head(5)

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

###info about DataFrame

In [334]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           20 non-null     int64
 1   Peak                           9 non-null      object
 2   All Time Peak                  6 non-null      object
 3   Actual gross                   20 non-null     object
 4   Actual gross(in 2022 dollars)  20 non-null     object
 5   Artist                         20 non-null     object
 6   Tour title                     20 non-null     object
 7   Year(s)                        20 non-null     object
 8   Shows                          20 non-null     int64
 9   Average gross                  20 non-null     object
 10  Ref.                           20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

Amount of null data in the df

In [335]:
df.isnull().sum()

Rank                              0
Peak                             11
All Time Peak                    14
Actual gross                      0
Actual gross(in 2022 dollars)     0
Artist                            0
Tour title                        0
Year(s)                           0
Shows                             0
Average gross                     0
Ref.                              0
dtype: int64

replace null data with 0

In [336]:
df.fillna(0, inplace=True)

In [337]:
df.head(6)

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],0,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]

check for changes

In [338]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           20 non-null     int64
 1   Peak                           20 non-null     object
 2   All Time Peak                  20 non-null     object
 3   Actual gross                   20 non-null     object
 4   Actual gross(in 2022 dollars)  20 non-null     object
 5   Artist                         20 non-null     object
 6   Tour title                     20 non-null     object
 7   Year(s)                        20 non-null     object
 8   Shows                          20 non-null     int64
 9   Average gross                  20 non-null     object
 10  Ref.                           20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

check for duplicate rows

In [339]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

###transform objects and remove unnecessary signs

In [340]:
df['Actual gross'] = df['Actual gross'].str.replace(r'[$,]', '', regex=True).str.strip()
df['Actual gross'] = df['Actual gross'].str.replace(r'\[.*?\]', '', regex=True).str.strip()

df["Actual gross(in 2022 dollars)"] = df["Actual gross(in 2022 dollars)"].str.replace(r'[$,]', '', regex=True).str.strip()
df["Actual gross(in 2022 dollars)"] = df["Actual gross(in 2022 dollars)"].str.replace(r'\[.*?\]', '', regex=True).str.strip()

df['Average gross'] = df['Average gross'].str.replace(r'[$,]', '', regex=True).str.strip()
df['Average gross'] = df['Average gross'].str.replace(r'\[.*?\]', '', regex=True).str.strip()

In [341]:
df.head(5)

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,13928571,[1]
1,2,1,7[2],579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3]
2,3,1[4],2[5],411000000,560622615,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294,[6]
3,4,2[7],10[7],397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7]
4,5,2[4],0,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8]

transform objects to integers (int64)

In [342]:
df["Actual gross"] = df["Actual gross"].astype(int)
df["Actual gross(in 2022 dollars)"] = df["Actual gross(in 2022 dollars)"].astype(int)
df ['Average gross'] = df['Average gross'].astype(int)

In [343]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           20 non-null     int64
 1   Peak                           20 non-null     object
 2   All Time Peak                  20 non-null     object
 3   Actual gross                   20 non-null     int64
 4   Actual gross(in 2022 dollars)  20 non-null     int64
 5   Artist                         20 non-null     object
 6   Tour title                     20 non-null     object
 7   Year(s)                        20 non-null     object
 8   Shows                          20 non-null     int64
 9   Average gross                  20 non-null     int64
 10  Ref.                           20 non-null     object
dtypes: int64(5), object(6)
memory usage: 1.8+ KB

In [344]:
df.head(8)

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,13928571,[1]
1,2,1,7[2],579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3]
2,3,1[4],2[5],411000000,560622615,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294,[6]
3,4,2[7],10[7],397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7]
4,5,2[4],0,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8]
5,6,2[4],10[9],305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709,[9]
6,7,2[10],0,280000000,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405,[11]
7,7,0,0,257600000,257600000,Pink,Summer Carnival †,2023–2024,41,6282927,[12]

get only the numeric values ​​outside the brackets

In [345]:
df['Peak'] = df['Peak'].str.extract(r'(\d+)')
df['Peak'] = df['Peak'].fillna(0).astype(int)
df['All Time Peak'] = df['All Time Peak'].str.extract(r'(\d+)').fillna(0).astype(int)

In [346]:
df.head(6)

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,13928571,[1]
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3]
2,3,1,2,411000000,560622615,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294,[6]
3,4,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7]
4,5,2,0,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8]
5,6,2,10,305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709,[9]

remove brackets

In [347]:
df['Tour title'] = df['Tour title'].str.replace(r'\[.*?\]', '', regex=True)
df.head(6)

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,13928571,[1]
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3]
2,3,1,2,411000000,560622615,Madonna,Sticky & Sweet Tour ‡,2008–2009,85,4835294,[6]
3,4,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7]
4,5,2,0,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8]
5,6,2,10,305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709,[9]

remove symbols

In [348]:
df['Tour title'] = df['Tour title'].str.replace(r'[†‡*]', '', regex=True).str.strip()
df.head(6)

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour,2023–2024,56,13928571,[1]
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3]
2,3,1,2,411000000,560622615,Madonna,Sticky & Sweet Tour,2008–2009,85,4835294,[6]
3,4,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7]
4,5,2,0,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8]
5,6,2,10,305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709,[9]

separate the two years and assign them to new columns

In [349]:
df[['Start Year', 'End Year']] = df['Year(s)'].str.split('–', expand=True)

convert years from type str to datetime

In [350]:
df['Start Year'] = pd.to_datetime(df['Start Year'], format='%Y').dt.year
df['End Year'] = df['End Year'].fillna(df['Start Year']).astype('int32')
df.head(6)

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,Start Year,End Year
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour,2023–2024,56,13928571,[1],2023,2024
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3],2023,2023
2,3,1,2,411000000,560622615,Madonna,Sticky & Sweet Tour,2008–2009,85,4835294,[6],2008,2009
3,4,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7],2018,2019
4,5,2,0,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8],2018,2018
5,6,2,10,305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709,[9],2012,2012

delete unnecessary columns

In [351]:
df.drop('Year(s)', axis=1, inplace=True)
df.drop('Ref.', axis=1, inplace=True)
df.head(6)

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Shows,Average gross,Start Year,End Year
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour,56,13928571,2023,2024
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,56,10353571,2023,2023
2,3,1,2,411000000,560622615,Madonna,Sticky & Sweet Tour,85,4835294,2008,2009
3,4,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,156,2546795,2018,2019
4,5,2,0,345675146,402844849,Taylor Swift,Reputation Stadium Tour,53,6522173,2018,2018
5,6,2,10,305158363,388978496,Madonna,The MDNA Tour,88,3467709,2012,2012

###Results

In [352]:
df.describe()
df.dtypes

Rank                              int64
Peak                              int64
All Time Peak                     int64
Actual gross                      int64
Actual gross(in 2022 dollars)     int64
Artist                           object
Tour title                       object
Shows                             int64
Average gross                     int64
Start Year                        int32
End Year                          int32
dtype: object

In [353]:
df

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Shows,Average gross,Start Year,End Year
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour,56,13928571,2023,2024
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,56,10353571,2023,2023
2,3,1,2,411000000,560622615,Madonna,Sticky & Sweet Tour,85,4835294,2008,2009
3,4,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,156,2546795,2018,2019
4,5,2,0,345675146,402844849,Taylor Swift,Reputation Stadium Tour,53,6522173,2018,2018
5,6,2,10,305158363,388978496,Madonna,The MDNA Tour,88,3467709,2012,2012
6,7,2,0,280000000,381932682,Celine Dion,Taking Chances World Tour,131,2137405,2008,2009
7,7,0,0,257600000,257600000,Pink,Summer Carnival,41,6282927,2023,2024
8,9,0,0,256084556,312258401,Beyoncé,The Formation World Tour,49,5226215,2016,2016
9,10,0,0,250400000,309141878,Taylor Swift,The 1989 World Tour,85,2945882,2015,2015
10,11,0,0,229100000,283202896,Beyoncé,The Mrs. Carter Show World Tour,132,1735606,2013,2014
11,12,0,14,227400000,295301479,Lady Gaga,The Monster Ball Tour,203,1118227,2009,2011
12,13,0,0,204000000,251856802,Katy Perry,Prismatic World Tour,151,1350993,2014,2015
13,14,1,0,200000000,299676265,Cher,Living Proof: The Farewell Tour,325,615385,2002,2005
14,15,2,0,194000000,281617035,Madonna,Confessions Tour,60,3233333,2006,2006
15,16,0,0,184000000,227452347,Pink,The Truth About Love Tour,142,1295775,2013,2014
16,17,0,0,170000000,213568571,Lady Gaga,Born This Way Ball,98,1734694,2012,2013
17,18,0,0,169800000,207046755,Madonna,Rebel Heart Tour,82,2070732,2015,2016
18,19,0,0,167700000,204486106,Adele,Adele Live 2016,121,1385950,2016,2017
19,20,0,0,150000000,185423109,Taylor Swift,The Red Tour,86,1744186,2013,2014

#Author
Gabriel Ospina M.